#square {
  border: 2px solid green;
  display: none;
}

.jumbotron {
  color: maroon;
  background-color: gray;
}

.container {
  width: 100%;
}

table {
margin: auto;
width: 80%;
}


tr, th {
  border: 2px solid red;
}
