#square {
  border: 2px solid green;
  display: none;
  width: 100%;
}

.jumbotron {
  color: maroon;
  background-color: gray;
}

.container {
  width: 100%;
}

table {
margin: auto;
width: 80%;
}


tr, td {
  border: 2px solid black;
  text-align: center;
}
